In [0]:
%sql
-- Find customers who placed ordres above the average order amount.

SELECT DISTINCT c.first_name , c.last_name
FROM customers c 
INNER JOIN orders o 
ON c.customer_id = o.customer_id
WHERE o.total_amount >
(
SELECT AVG(total_amount) FROM orders
)
  limit 5

In [0]:
%sql
SELECT DISTINCT c.first_name, c.last_name, o.total_amount
FROM customers c 
INNER JOIN orders o 
ON c.customer_id = o.customer_id
WHERE o.total_amount > (
    SELECT AVG(total_amount) FROM orders
)
  limit 5

In [0]:
%sql
-- List all products that have been sold more than 5 times in total.

SELECT 
  od.product_name AS PRODUCT_NAME,
  SUM(od.quantity) AS TOTAL_SOLD
FROM order_details od 
GROUP BY od.product_name
HAVING SUM(od.quantity) > 2

In [0]:
%sql
--  List customers and their total quantity of products ordered.
WITH customer_orders AS(
  SELECT c.customer_id,c.first_name, SUM(od.quantity) AS total_quantity
  FROM customers c
  INNER JOIN orders o ON c.customer_id = o.customer_id
  INNER JOIN order_details od ON o.order_id = od.order_id
  GROUP BY c.customer_id,c.first_name
)
SELECT * FROM customer_orders where total_quantity >= 2;

In [0]:
%sql
-- Find products whose total sales revenue is more than â‚¹10,000.
WITH product_sales AS (
  SELECT 
    od.product_name,
    SUM(od.price_each * od.quantity) AS total_revenue
  FROM order_details od
  GROUP BY od.product_name
)

SELECT * FROM product_sales WHERE total_revenue > 10000

In [0]:
%sql
DESCRIBE order_details;

In [0]:
%sql
select * from order_details limit 5;

In [0]:
%sql
SELECT *
FROM order_details od
JOIN orders o ON od.order_id = o.order_id

CASE Statements (SQL IF/ELSE)

In [0]:
%sql
SELECT 
  order_id,
  total_amount,
  CASE 
    WHEN total_amount < 1000 THEN 'SMALL'
    WHEN total_amount BETWEEN 1000 AND 5000 THEN 'MEDIUM'
    ELSE 'LARGE'
  END AS order_size
FROM orders;

In [0]:
%sql
DESCRIBE orders;

In [0]:
%sql
SELECT 
  CASE 
    WHEN total_amount < 1000 THEN 'SMALL'
    WHEN total_amount BETWEEN 1000 AND 1500 THEN 'MEDIUM'
    ELSE 'LARGE'
  END AS order_size,
  COUNT(*) AS num_orders
FROM orders
GROUP BY order_size;

In [0]:
%sql
-- Categorize each order as 'Small', 'Medium', 'Large'.

WITH categorized_orders AS (
    SELECT o.order_id, o.total_amount, 
          CASE
              WHEN o.total_amount < 1000 THEN 'SMALL'
              WHEN o.total_amount BETWEEN 1000 AND 1500 THEN 'MEDIUM'
              ELSE 'LARGE'
          END AS ORDER_SIZE 
    FROM orders o
)
SELECT * 
FROM categorized_orders 
WHERE ORDER_SIZE = 'LARGE'

In [0]:
describe customers

In [0]:

select c.first_name,c.last_name,
count(o.order_id) AS total_orders,
CASE 
  WHEN COUNT(o.order_id) = 0 THEN 'No Orders'
  when count(o.order_id) = 1 THEN 'NEW'
  ELSE 'Returning'
END AS customer_type
from customers c
left join orders O on c.customer_id = o.customer_id
group by C.customer_id, C.first_name,c.last_name

FUNCTIONS (STRIING + DATE)

In [0]:
select
  upper(c.first_name) AS FIRST_NAME_UPPERCASE
  --lower(c.first_name) AS FIRST_NAME_LOWERCASE
  FROM customers c

In [0]:
select upper(concat (c.first_name,c.last_name)) as FULL_NAME from customers c

In [0]:
SELECT * FROM orders

In [0]:
SELECT 
  MONTH(o.order_date) AS order_month, 
  COUNT(o.order_id) AS total_orders 
FROM orders o 
GROUP BY 1
ORDER BY 1;

In [0]:
SELECT 
  MONTH(o.order_date) AS order_month,
  MONTHNAME(o.order_date) AS month_name,
  COUNT(o.order_id) AS total_orders
FROM orders o 
GROUP BY 1, 2
ORDER BY 1;

In [0]:
WITH customer_spend AS (
    SELECT 
        c.customer_id, 
        CONCAT(c.first_name, ' ', c.last_name) AS full_name,
        SUM(od.quantity * od.price_each) AS total_spent
    FROM customers c
    INNER JOIN orders o ON c.customer_id = o.customer_id
    INNER JOIN order_details od ON o.order_id = od.order_id
    GROUP BY c.customer_id, c.first_name, c.last_name
)

SELECT 
    full_name, 
    total_spent,
    CASE
        WHEN total_spent < 10000 THEN 'Bronze'
        WHEN total_spent BETWEEN 10000 AND 20000 THEN 'Silver'
        ELSE 'Gold'
    END AS customer_tier
FROM customer_spend;

In [0]:
--Task:
--1. Write a JOIN query to show customer name,product and region

create table sales_data_sample (
  sale_id int,
  customer_name string,
  product string,
  amount int,
  sale_date timestamp,
  region string
)

create table customers_sample (
  customer_id varchar(50),
  name varchar(50),
  gender varchar(10),
  city varchar(50)
)

In [0]:
show tables

In [0]:
insert into sales_data_sample VALUES 
(101, 'C001', 'Shoes', 2999, '2023-10-01', 'North'),
(102, 'C002', 'T-Shirt', 999, '2023-10-01', 'West'),
(103, 'C001', 'Watch', 5999, '2023-10-02', 'North'),
(104, 'C003', 'Bag', 1999, '2023-10-03', 'South');

In [0]:
CREATE TABLE customers_sample (
    customer_id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(100),
    gender CHAR(1),
    city VARCHAR(100)
);

INSERT INTO customers_sample VALUES 
('C001', 'Ravi', 'M', 'Mumbai'),
('C002', 'Priya', 'F', 'Delhi'),
('C003', 'Arjun', 'M', 'Bangalore');

In [0]:

insert into sales_data_sample VALUES 
(101, 'C001', 'Shoes', 2999, '2023-10-01', 'North'),
(102, 'C002', 'T-Shirt', 999, '2023-10-01', 'West'),
(103, 'C001', 'Watch', 5999, '2023-10-02', 'North'),
(104, 'C003', 'Bag', 1999, '2023-10-03', 'South');

In [0]:
describe customers_sample

In [0]:
CREATE TABLE sales_data_sample (
  sale_id INT,
  customer_id VARCHAR(10),     
  product STRING,
  amount INT,
  sale_date TIMESTAMP,
  region STRING
);
INSERT INTO sales_data_sample VALUES 
(101, 'C001', 'Shoes', 2999, '2023-10-01', 'North'),
(102, 'C002', 'T-Shirt', 999, '2023-10-01', 'West'),
(103, 'C001', 'Watch', 5999, '2023-10-02', 'North'),
(104, 'C003', 'Bag', 1999, '2023-10-03', 'South');

In [0]:
--Task:
--1. Write a JOIN query to show customer name,product and region

select 
cs.name as customer_name,
sds.product,
sds.region
from sales_data_sample sds
inner join customers_sample cs
ON sds.customer_id = cs.customer_id

In [0]:
--Task:
--2. Count how many products each customer has purchased

select  cs.name,count(*) as total_products
from sales_data_sample sds
inner join customers_sample cs
ON sds.customer_id = cs.customer_id
group by cs.customer_id,cs.name

In [0]:
--Task:
--3. Get all female customers who made a purchase greater than 1000.


select 
* from customers_sample
where gender = 'F'
and customer_id
in 
(select customer_id 
  from sales_data_sample
  where amount > 500)

In [0]:
--Task:
--Identify cities with the highest total purchase amount.

select cs.city as cities , sds.amount as highest_total_purchase_amount
from customers_sample cs 
inner join sales_data_sample sds 
on cs.customer_id = sds.customer_id
group by cs.city, sds.amount
order by sds.amount desc