 **class 7 Query Optimisation**

🛠️ 1️⃣ SELECT * vs SELECT needed columns

In [0]:
--Badly Optimise Queary 
select * 
from customers c
join orders o on c.customer_id = o.customer_id
join order_details od on o.order_id = od.order_id;

In [0]:
-- Optimised queary
select c.first_name,o.order_id, od.product_name, od.price_each
from customers c
join orders o on c.customer_id = o.customer_id
join order_details od on o.order_id = od.order_id;

🔍 2️⃣ Filtering after JOIN vs Filtering before

In [0]:
--❌ Unoptimized:

select c.first_name, od.product_name, od.price_each
from customers c
join orders o on c.customer_id = o.customer_id
join order_details od on o.order_id = od.order_id
order by od.price_each desc;

In [0]:
--Optimized:
select c.first_name, od.product_name, od.price_each
from customers c
join orders o on c.customer_id = o.customer_id
join order_details od on o.order_id = od.order_id
where od.price_each > 1000
order by od.price_each desc;

3️⃣ GROUP BY without filtering vs with early filtering

In [0]:
--Unoptmised query
SELECT c.customer_id, SUM(od.price_each * od.quantity) AS total_spent
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
GROUP BY c.customer_id;

In [0]:
-- ✅ Optimized:

SELECT c.customer_id, SUM(od.price_each * od.quantity) AS total_spent
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
WHERE o.order_date >= '2023-01-01'
GROUP BY c.customer_id;

In [0]:
EXPLAIN
SELECT c.first_name, o.order_id, od.product_name
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
WHERE od.price_each > 1000;

In [0]:
SELECT * 
FROM order_details
WHERE price_each > 10000;

In [0]:
-- Add index first
CREATE INDEX idx_price ON order_details(price_each);

-- Then rerun
SELECT * 
FROM order_details
WHERE price_each > 10000;

In [0]:
create table employee_sales (
emp_id string,
emp_name varchar(50),
sale_amount int,
dept varchar(50),
sale_date date
);

In [0]:
INSERT INTO employee_sales VALUES 
('E101', 'Ankit', 5000, 'Fashion', '2023-10-01'),
('E102', 'Priya', 8000, 'Fashion', '2023-10-01'),
('E103', 'Ravi', 7000, 'Electronics', '2023-10-02'),
('E101', 'Ankit', 6000, 'Fashion', '2023-10-03');

In [0]:
select * from employee_sales

In [0]:
-- task 1
--1. Use a window function to assign a rank of employees by sale_amount within each department

SELECT 
  emp_name, 
  sale_amount, 
  dept,
  RANK() OVER (PARTITION BY dept ORDER BY sale_amount DESC) AS sales_rank
FROM employee_sales;

In [0]:
--task 2
--Find the running total of sales for eachemployee

select emp_id,emp_name,sale_amount,sum(sale_amount)
over( order by sale_amount) as running_total
from employee_sales

In [0]:
--task3
--optimize query by selecting only necessary columns and applying filters before aggregation 

select emp_name,dept ,sum(sale_amount) as total_sales
from employee_sales
where dept = 'Fashion'
group by emp_name,dept

In [0]:
--task4
--explain how indexing would help if this table had 10 million rows